<div style="display: inline-block;">
  <!-- Filter box begins -->
  <div>
    <div class="customBox">
      <br>
      <div class="header">
        <div class="innerHeader">
          <h2>Filter Conditions</h2>
        </div>
        <div class="clearDiv">
          <span class="clearSpan">
            <button (click)="clearFilters();" class="clearBtn" [disabled]="filterDisabled">
              Clear Filters
            </button>
          </span>
        </div>
      </div>
      <br>
      <devon-range-slider [options]="storage_rangeVals" title="STORAGE" (changeObj)="updateStorage($event)" [clear]="clearFilter"></devon-range-slider>
      <div class="rangeValDiv">
        <ng-container *ngIf="search.storageMin !== undefined && search.storageMax !== undefined; else elseBlock">
          <span>{{search.storageMin > 500 ? (search.storageMin/1000)+'TB' : search.storageMin+'GB'}}</span> to
          <span>{{search.storageMax > 500 ? (search.storageMax/1000)+'TB' : search.storageMax+'GB'}}</span>
        </ng-container>
        <ng-template #elseBlock>
          <span>0GB</span> to
          <span>{{(storage_rangeVals[storage_rangeVals.length - 1])/1000}}TB</span>
        </ng-template>
      </div>
      <br>
      <devon-multi-checkbox [options]="ram_checkboxVals" title="RAM" (changeObj)="updateSearch('ram', $event)" [clear]="clearFilter">
      </devon-multi-checkbox>
      <devon-multi-select-dropdown [options]="hardisk_multiSelVals" title="HDD" (changeObj)="updateSearch('hdd', $event)" [clear]="clearFilter">
      </devon-multi-select-dropdown>
      <devon-multi-select-dropdown [options]="location_multiSelVals" title="LOCATION" (changeObj)="updateSearch('location', $event)"
        [clear]="clearFilter">
      </devon-multi-select-dropdown>
    </div>
    <!-- Filter box ends -->
    <!-- Results box begins -->
    <div class="resultsBox">
      <div>
        <devon-results-section [results]="apiResult | async"></devon-results-section>
      </div>
    </div>
    <!-- Results box ends -->
  </div>
