div {
    display: inline-block;
    box-sizing: border-box;
}

.header {
    display: inline;
}

.innerHeader, .clearDiv {
    background-color: lightyellow;
}

.innerHeader {
    display: block;
    float: left;
    width: 70%;
    /* text-align: right; */
}

.innerHeader > h2 {
    margin: 0px;
}

.clearDiv {
    width: 30%; 
    float:left;
}

.customBox
{
    height: 30vw; 
    width: 30vw; 
    /* position: relative; */
    /* left: 5%;
    top: 20%; */
    float: left;
    box-align: center; 
    /* text-align: center; */
    border: 1px solid red;
    margin-top: 7.5vw;
    margin-left: 1vw;
}

.customBox h2 {
    text-align: center;
    margin-bottom: 0vw;
}

.clearSpan {
    float: right; 
    margin-right: 1vw;
}

.clearBtn {
    height: 2vw;
    color: black;
    background-color: lightgoldenrodyellow;
    /* border: 1px solid; */
}

.clearBtn:hover {
    cursor: pointer;
}
/* .clearSpan:hover {
    cursor: pointer;
} */