.checkboxContainer {
    margin: 1.5vw; 
    margin-left: 1vw;
    width: 90%;
    display: flex;
}

.titleLabel {
    color: red; 
    background-color: lightgoldenrodyellow; 
    padding: 3px;
}

.spanSpace {
    margin: 1.8vw;
}

.titleDiv {
    width: 5vw;
    float: left;
    padding-top: 1.9vw;
}

.optionsDiv {
    width: 16vw;
    margin-left: 2vw; 
}