<br>
<div class="inline">
  <div class="titleDiv">
    <span class="titleLabel">{{title}}</span>
  </div>
  <div class="multiselectBox">
    <input type="text" style="float: left;" (focus)="displayBox = 'block'" (blur)="openfor3secs();" [value]="selection">
    <br>
    <div class="dropdownBox" [ngStyle]="{'display': displayBox}">
      <ng-container *ngFor="let option of options">
        <div class="rowDiv">
          <label>
            <input type="checkbox" [checked]="option.selected" (change)="onChangeSelection(option, $event.target.checked)" /> {{option.key}}
          </label>
        </div>
        <br>
      </ng-container>
    </div>
  </div>
</div>