.inline > div {
    display: inline-block;
}

.multiselectBox {
    width: 15vw;
    /* padding: 3px; */
    margin-right: 0px;
    position: absolute;
}

.dropdownBox {
    padding: 2px; 
    padding-top: 1.5px; 
    width: 14vw; 
    border: 1px solid lightcoral;
    position: absolute;
    z-index: 10;
    background-color: white;
}