.inline > div {
  display: inline-block;
}

.multiselectBox {
  width: 15vw;
  margin-right: 0px;
  position: absolute;
}

.multiselectInput {
  float: left;
  width: 15vw;
}

.dropdownBox {
  padding: 2px;
  padding-top: 1.5px;
  width: 15vw;
  border: 1px solid lightcoral;
  position: absolute;
  z-index: 10;
  background-color: white;
}

.titleLabel {
  color: red;
  background-color: lightgoldenrodyellow;
  padding: 3px;
  margin: 1vw;
}

.rowDiv {
  float: left;
  position: absolute;
}

.titleDiv {
  width: 8vw;
}
